*{
  margin: 0;
  padding: 0;
}

/* Cabecalho */

header {
  background-color: #6cc3ff;
  color: #fff;
  text-align: center;
  padding: 1rem 0;
  margin-bottom: 70%;
  align-items: center;
  font: 1em sans-serif;
  
} 

header nav ul {
  padding: 0;
  align-items: center;
  
}

header a {
  color: #000;
  
}

header button {
  background-color: #fff;
  border: none;
  border-radius: 50px;
  z-index: 2;
  width: 50px;
  margin-left: -55px;
  
}

 header li {
  padding: 50px;
  font-size: 20px;
  
}

header nav ul li img {
  margin-right: 20px;
  vertical-align: middle;
  margin-right: 5px;
  
}

input {
  height: 50px;
  left: 0;
  margin-top: -100px;
  width: 500px;
  border-radius: 50px;
  font-size: 21px;
  
}


nav {
  bottom: 10px;
  
}

header img {
  margin-right: 180px;
  
}

/* Conteudo */

.label h1 {
  margin-top: -60%;
  margin-left: 56%;
  width: 500px;
  font-size: 64px;
  white-space: nowrap; 
  
}

.label p {
  color: #000000;
  font-family: "Gentium Book Basic-Regular", Helvetica;
  text-align: center;
  width: 658px;
  margin-left: 52%;
  
}

.label img {
  height: 344px;
  width: 548px;
  margin-top: -30%;
  margin-left: 15%;
  
}

.label-2 h1 {
  font-size: 64px;
  width: 234px;
  margin-left: 22%;
  padding: 20px;
  
}

.label-2 p {
  width: 658px;
  text-align: center;
  font-family: "Gentium Book Basic-Regular", Helvetica;
  margin-left: 250px;
  
}

.label-2 img {
  height: 340px;
  margin-top: -13%;
  margin-left: 57%;
  
}

/* Rodape */

.Footer {
  background-color: #000;
  color: #fff;
  text-align: center;
  padding: 1rem 0;
  list-style: none;
  text-decoration: none;
  margin-top: 50%;
  
}


ul {
  display: block;
  list-style: disc;
  
}

li {
  list-style: none;
  margin-bottom: 10px;
  margin: 10px 20px;
  display: inline-block;
  padding: 5px 10px;
  transition: 0.35s;
  
}

a {
  text-decoration: none;
  color: #007bff;
  font-size: 20px;
  
}



h2 {
  font-size: 2.5rem;
  margin-bottom: 10px;
  text-align: center;
  
}



ul {
  text-align: center;
  margin-right: 15px;
  cursor: pointer;
  
}

.Footer ul {
  text-align: center;
  margin-right: 15%;
  cursor: pointer;
  display: flex;
  gap: 100px;
  align-items: center;
  
}

.Footer li {
  display: flex;
  align-items: center;
  
}

.Footer img {
  margin-right: 20%;
  padding-bottom: 0px;
  
}
